@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Montserrat';
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: teal;
}

body {
  background: black;
}
