---
import Container from './Container.astro'
---

<footer class="w-full bg-black border-t border-t-zinc-800 py-5 px-5">
  <Container>
    <p class="text-center text-zinc-500 md:text-sm">&copy; {new Date().getFullYear()} Jackson Vargas - Todos os direitos reservados</p>
  </Container>
</footer>
